{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "syntax-dynamic-import"
	],
	"env": {
    "test": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": { "node": "current" }
        }]
      ],    
      "plugins": ["istanbul"]
    }
  }
}
